{% extends 'base.html.twig' %}

{% block title %}PostController show{% endblock %}

{% block body %}

        <h1>{{ post.title }}</h1>
        <em>Category: {{ post.category }}</em>
        <hr>
        <img src="/uploads/{{ post.image }}" alt="Post image cannot be shown">

{% endblock %}